<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Изменить данные сотрудника</title>
    </head>
    <body>
        <h1>Изменить данные сотрудника  </h1>
        <h2>Функции</h2>
        <ul>
            <li><a href="/"> Список сотрудников</a>
            <li><a href="inform"> Информация о сотруднике</a>
            <li><a href="add">Добавить сотрудника</a>
            <li><a href="delete">Удалить сотрудника</a>
            <li><a href="change">Изменить данные сотрудника</a>
        </ul>

    </body>
</html>